@import 'defaults.scss';


.container {
  max-width: 100%;
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-rows: repeat(4, auto);
}

.card {
  position: relative;
}

.title,
.title-two {
  position: relative;
  text-align: center;
  z-index: 3;
}



.b-1>p,
.b-1>h1,
.b-1>h2,
.b-1>h3,
.b-1>h4 {
  max-width: 80%;
  margin: auto;
}

.news-container {
  display: grid;
    margin: 0 auto;
    grid-gap: 1rem;
    grid-template-rows: repeat(4, auto);

}

.follow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.news {
  width: 90%;
  margin: auto;
  height: auto;
  background-color: $white-tr;
  backdrop-filter: blur(2px);
  border: 3px solid $secondary-lt;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  border-radius: 4%;
}

.nl {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 2px solid $secondary-lt;
  border-radius: 7%;
  overflow: hidden;
}

.nl h5 {
  margin-top: 16px;
  display: block;
  text-align: center;
}

.nr {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.news img {
  width: 100%;

}

.tr,
.tl,
.bl,
.br {
  width: 50%;
  display: block;
}

.diamond .d-end {
  width: 100%;
  display: block;
}

.diamond {
  margin-bottom: -180px;
  z-index: 0;
}

.tr {
  float: right;
  margin-top: -42.6%;
}

.tl {
  float: left;
  margin-top: -42.6%;
}

.bl {
  float: left;
}

.br {
  float: right;
}

img.btm {
  width: 100%;
  display: block;
  transform: translateY(-50%);
}

.rel {
  text-align: center;
  padding: 0;
  margin: 0;

}

.break {
  display: block;
  width: 80%;
  margin: auto;
  height: 4px;
  background-color: $primary;
  margin: 10px auto;
}

.big-logo {
  position: relative;
  max-width: 90%;
  margin: auto;
  display: block;
  z-index: 2;
}

.card p {
  position: relative;
  z-index: 2;
}

.blur {
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 100%;
  filter: blur(40px);
  position: absolute;
  margin-top: -120%;
  z-index: 1;
}

.blur2 {
  height: 300px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 100%;
  filter: blur(40px);
  position: absolute;
  margin-top: -20%;
  z-index: 0;
}




@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .title,
  .title-two {
    text-align: left;
  }

  .big-logo {
    margin-top: 48px;
  }

}

@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(2, .5fr, 1fr);
  }

  .big-logo {
    margin-top: 48px;
  }

}
