@import 'defaults.scss';


.container {
  padding-top:80px; 
  padding-bottom: 80px;
  max-width: 100%;
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-rows: repeat(4, auto);
}

.card {
  position: relative;
}
.map {
  max-width: 80%;
  margin-left: 10%;
}

.title,
.title-two {
  position: relative;
  text-align: center;
  z-index: 3;
}



.b-1>p,
.b-1>h1,
.b-1>h2,
.b-1>h3,
.b-1>h4 {
  max-width: 80%;
  margin-left: 10%;
}

.fab {
  font-size: 64pt;
}


.news-container {
  display: grid;
    margin: 0 auto;
    grid-gap: 1rem;
    grid-template-rows: repeat(4, auto);
    :hover {
      text-decoration: none;
      .news {
        border: 3px solid $secondary;
        background-color: white;
      }
    }

}

.follow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.news {
  width: 90%;
  margin: auto;
  height: auto;
  background-color: $white-tr;
  backdrop-filter: blur(2px);
  border: 3px solid $secondary-lt;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  border-radius: 10px;
  
}

.nl {
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  
  border-radius: 7%;
  overflow: hidden;
}

.nl h5 {
  margin-top: 16px;
  display: block;
  text-align: center;
}

.nr {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.news img {
  width: 100%;

}

.tr,
.tl,
.bl,
.br {
  width: 50%;
  display: block;
}

.diamond .d-end {
  width: 100%;
  display: block;
}

.diamond {
  margin-bottom: -180px;
  z-index: 0;
  mix-blend-mode: multiply;
}

.tr {
  float: right;
  margin-top: -42.8%;
}

.tl {
  float: left;
  margin-top: -42.8%;
}

.bl {
  float: left;
}

.br {
  float: right;
}

img.btm {
  width: 100%;
  display: block;
  transform: translateY(-50%);
}

.rel {
  text-align: center;
  padding: 0;
  margin: 0;

}

.break {
  display: block;
  width: 80%;
  margin: auto;
  height: 4px;
  background-color: $primary;
  margin: 10px auto;
  border-radius: 100px;
}

.big-logo {
  position: relative;
  max-width: 70%;
  margin: auto;
  display: block;
  z-index: 2;
}

.card p {
  position: relative;
  z-index: 2;
}



.blur {
  height: 600px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 100%;
  filter: blur(40px);
  position: absolute;
  margin-top: -120%;
  z-index: 1;
}

.blur2 {
  height: 300px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 100%;
  filter: blur(40px);
  position: absolute;
  margin-top: -20%;
  z-index: 0;
}

.follow img {
  width: 150px;
}

.nl h5 {
  font-size: 10pt;
  max-width: 90%;
  margin-top: 20px;
  margin: auto;
}


@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    
  }
  .diamond {
    grid-row: 2/9;
  }

  .title,
  .title-two {
    text-align: left;
    padding-top: 24px;
  }

  .titles {
    place-self: end;
    max-width: 90%;
  }

  .big-logo {
    margin-top: 48px;
  }

  .blur,
  .blur2 {
    display: none;
  }

}

@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(2, .5fr, 1fr);
  }

  .diamond {
    grid-row: 2/9;
  }

  .big-logo {
    margin-top: 48px;
  }

  .titles {
    place-self: start;
    margin-left: 10%;
    max-width: 60%;
  }

  .news-container {
    h6 {
      font-size: 20pt;
    }
    
  }

  .blur, .blur2 {
    display: none;
  }

 

  .card.hero {
    grid-column: 1/3;
    max-width: 800px;
    margin: auto;
  }

}


